.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.923000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.934000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.925293;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.249319,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249319,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249319,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.249324,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249324,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249324,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls4{letter-spacing:-1.726830px;}
.ls5{letter-spacing:-1.703174px;}
.ls6{letter-spacing:-0.425794px;}
.ls7{letter-spacing:-0.402138px;}
.ls1{letter-spacing:-0.360000px;}
.ls2{letter-spacing:-0.108000px;}
.ls0{letter-spacing:0.000000px;}
.ls3{letter-spacing:3.665440px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws3{word-spacing:-3.665440px;}
.ws0{word-spacing:0.000000px;}
.ws2{word-spacing:0.108000px;}
.ws1{word-spacing:0.360000px;}
.ws6{word-spacing:0.425794px;}
.ws5{word-spacing:1.703174px;}
.ws4{word-spacing:1.726830px;}
._0{margin-left:-4.752000px;}
._4{margin-left:-3.456000px;}
._2{margin-left:-2.196000px;}
._1{margin-left:-1.188000px;}
._3{width:1.224000px;}
._b{width:2.345882px;}
._a{width:3.592131px;}
._5{width:24.516400px;}
._7{width:48.787600px;}
._6{width:51.168000px;}
._8{width:112.656800px;}
._c{width:140.413334px;}
._9{width:299.640000px;}
._d{width:2903.080486px;}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(16,15,13);}
.fs3{font-size:23.655200px;}
.fs1{font-size:24.000000px;}
.fs4{font-size:29.161200px;}
.fs0{font-size:36.000000px;}
.fs2{font-size:73.308800px;}
.y0{bottom:0.000000px;}
.y4b{bottom:25.111300px;}
.y4d{bottom:26.933600px;}
.y4e{bottom:28.608681px;}
.y4c{bottom:35.687500px;}
.y45{bottom:79.888200px;}
.y46{bottom:80.080200px;}
.y4a{bottom:99.100200px;}
.y30{bottom:111.083000px;}
.y2f{bottom:125.087000px;}
.y2e{bottom:139.091000px;}
.y2d{bottom:153.095000px;}
.y2c{bottom:167.099000px;}
.y2b{bottom:181.103000px;}
.y2a{bottom:195.107000px;}
.y29{bottom:209.111000px;}
.y49{bottom:220.120200px;}
.y28{bottom:223.115000px;}
.y48{bottom:229.840200px;}
.y47{bottom:237.040200px;}
.y27{bottom:237.119000px;}
.y26{bottom:251.123000px;}
.y25{bottom:265.127000px;}
.y24{bottom:281.129000px;}
.y23{bottom:295.133000px;}
.y22{bottom:309.137000px;}
.y21{bottom:323.141000px;}
.y20{bottom:337.145000px;}
.y1f{bottom:351.149000px;}
.y1e{bottom:365.153000px;}
.y1d{bottom:379.157000px;}
.y1c{bottom:393.161000px;}
.y1b{bottom:407.165000px;}
.y1a{bottom:407.165200px;}
.y19{bottom:421.169200px;}
.y44{bottom:431.418500px;}
.y18{bottom:435.173200px;}
.y17{bottom:449.177200px;}
.y43{bottom:450.048000px;}
.y15{bottom:463.181100px;}
.y16{bottom:463.181200px;}
.y42{bottom:467.058000px;}
.y41{bottom:477.060000px;}
.y14{bottom:477.185100px;}
.y40{bottom:487.062000px;}
.y13{bottom:491.189100px;}
.y3f{bottom:497.064000px;}
.y12{bottom:505.193100px;}
.y3e{bottom:511.981400px;}
.y11{bottom:519.197100px;}
.y3d{bottom:531.793400px;}
.y10{bottom:533.201100px;}
.y3c{bottom:545.995400px;}
.yf{bottom:547.205100px;}
.ye{bottom:561.209100px;}
.y3b{bottom:565.807400px;}
.yd{bottom:575.213100px;}
.y3a{bottom:580.009400px;}
.yc{bottom:589.217100px;}
.y39{bottom:599.821400px;}
.yb{bottom:603.221100px;}
.y38{bottom:614.023400px;}
.ya{bottom:617.225100px;}
.y9{bottom:631.229100px;}
.y37{bottom:633.835400px;}
.y8{bottom:645.233100px;}
.y36{bottom:648.037400px;}
.y7{bottom:659.237100px;}
.y34{bottom:665.045400px;}
.y35{bottom:665.047400px;}
.y6{bottom:673.241100px;}
.y33{bottom:675.047400px;}
.y32{bottom:675.049500px;}
.y5{bottom:687.245100px;}
.y4{bottom:687.245600px;}
.y31{bottom:689.251500px;}
.y3{bottom:701.249600px;}
.y2{bottom:710.762600px;}
.y1{bottom:726.764600px;}
.h7{height:17.221632px;}
.h4{height:17.760000px;}
.h5{height:18.048000px;}
.h8{height:21.258629px;}
.h2{height:26.640000px;}
.h3{height:27.072000px;}
.h6{height:53.370811px;}
.h0{height:841.890000px;}
.h1{height:842.000000px;}
.w1{width:1190.500000px;}
.w0{width:1190.550000px;}
.x0{left:0.000000px;}
.x1{left:28.346700px;}
.xd{left:62.272000px;}
.x3{left:86.342800px;}
.x4{left:109.382800px;}
.x2{left:128.085000px;}
.xf{left:239.076200px;}
.x5{left:304.725100px;}
.x6{left:318.682100px;}
.xe{left:336.751500px;}
.xc{left:392.103900px;}
.x8{left:425.751900px;}
.x11{left:434.908700px;}
.xb{left:513.555900px;}
.x7{left:527.169900px;}
.x9{left:533.403900px;}
.xa{left:534.423900px;}
.x12{left:622.438000px;}
.x10{left:1037.707348px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls4{letter-spacing:-2.302439pt;}
.ls5{letter-spacing:-2.270899pt;}
.ls6{letter-spacing:-0.567725pt;}
.ls7{letter-spacing:-0.536185pt;}
.ls1{letter-spacing:-0.480000pt;}
.ls2{letter-spacing:-0.144000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls3{letter-spacing:4.887253pt;}
.ws3{word-spacing:-4.887253pt;}
.ws0{word-spacing:0.000000pt;}
.ws2{word-spacing:0.144000pt;}
.ws1{word-spacing:0.480000pt;}
.ws6{word-spacing:0.567725pt;}
.ws5{word-spacing:2.270899pt;}
.ws4{word-spacing:2.302439pt;}
._0{margin-left:-6.336000pt;}
._4{margin-left:-4.608000pt;}
._2{margin-left:-2.928000pt;}
._1{margin-left:-1.584000pt;}
._3{width:1.632000pt;}
._b{width:3.127842pt;}
._a{width:4.789508pt;}
._5{width:32.688533pt;}
._7{width:65.050133pt;}
._6{width:68.224000pt;}
._8{width:150.209067pt;}
._c{width:187.217778pt;}
._9{width:399.520000pt;}
._d{width:3870.773982pt;}
.fs3{font-size:31.540267pt;}
.fs1{font-size:32.000000pt;}
.fs4{font-size:38.881600pt;}
.fs0{font-size:48.000000pt;}
.fs2{font-size:97.745067pt;}
.y0{bottom:0.000000pt;}
.y4b{bottom:33.481733pt;}
.y4d{bottom:35.911467pt;}
.y4e{bottom:38.144909pt;}
.y4c{bottom:47.583333pt;}
.y45{bottom:106.517600pt;}
.y46{bottom:106.773600pt;}
.y4a{bottom:132.133600pt;}
.y30{bottom:148.110667pt;}
.y2f{bottom:166.782667pt;}
.y2e{bottom:185.454667pt;}
.y2d{bottom:204.126667pt;}
.y2c{bottom:222.798667pt;}
.y2b{bottom:241.470667pt;}
.y2a{bottom:260.142667pt;}
.y29{bottom:278.814667pt;}
.y49{bottom:293.493600pt;}
.y28{bottom:297.486667pt;}
.y48{bottom:306.453600pt;}
.y47{bottom:316.053600pt;}
.y27{bottom:316.158667pt;}
.y26{bottom:334.830667pt;}
.y25{bottom:353.502667pt;}
.y24{bottom:374.838667pt;}
.y23{bottom:393.510667pt;}
.y22{bottom:412.182667pt;}
.y21{bottom:430.854667pt;}
.y20{bottom:449.526667pt;}
.y1f{bottom:468.198667pt;}
.y1e{bottom:486.870667pt;}
.y1d{bottom:505.542667pt;}
.y1c{bottom:524.214667pt;}
.y1b{bottom:542.886667pt;}
.y1a{bottom:542.886933pt;}
.y19{bottom:561.558933pt;}
.y44{bottom:575.224667pt;}
.y18{bottom:580.230933pt;}
.y17{bottom:598.902933pt;}
.y43{bottom:600.064000pt;}
.y15{bottom:617.574800pt;}
.y16{bottom:617.574933pt;}
.y42{bottom:622.744000pt;}
.y41{bottom:636.080000pt;}
.y14{bottom:636.246800pt;}
.y40{bottom:649.416000pt;}
.y13{bottom:654.918800pt;}
.y3f{bottom:662.752000pt;}
.y12{bottom:673.590800pt;}
.y3e{bottom:682.641867pt;}
.y11{bottom:692.262800pt;}
.y3d{bottom:709.057867pt;}
.y10{bottom:710.934800pt;}
.y3c{bottom:727.993867pt;}
.yf{bottom:729.606800pt;}
.ye{bottom:748.278800pt;}
.y3b{bottom:754.409867pt;}
.yd{bottom:766.950800pt;}
.y3a{bottom:773.345867pt;}
.yc{bottom:785.622800pt;}
.y39{bottom:799.761867pt;}
.yb{bottom:804.294800pt;}
.y38{bottom:818.697867pt;}
.ya{bottom:822.966800pt;}
.y9{bottom:841.638800pt;}
.y37{bottom:845.113867pt;}
.y8{bottom:860.310800pt;}
.y36{bottom:864.049867pt;}
.y7{bottom:878.982800pt;}
.y34{bottom:886.727200pt;}
.y35{bottom:886.729867pt;}
.y6{bottom:897.654800pt;}
.y33{bottom:900.063200pt;}
.y32{bottom:900.066000pt;}
.y5{bottom:916.326800pt;}
.y4{bottom:916.327467pt;}
.y31{bottom:919.002000pt;}
.y3{bottom:934.999467pt;}
.y2{bottom:947.683467pt;}
.y1{bottom:969.019467pt;}
.h7{height:22.962177pt;}
.h4{height:23.680000pt;}
.h5{height:24.064000pt;}
.h8{height:28.344838pt;}
.h2{height:35.520000pt;}
.h3{height:36.096000pt;}
.h6{height:71.161081pt;}
.h0{height:1122.520000pt;}
.h1{height:1122.666667pt;}
.w1{width:1587.333333pt;}
.w0{width:1587.400000pt;}
.x0{left:0.000000pt;}
.x1{left:37.795600pt;}
.xd{left:83.029333pt;}
.x3{left:115.123733pt;}
.x4{left:145.843733pt;}
.x2{left:170.780000pt;}
.xf{left:318.768267pt;}
.x5{left:406.300133pt;}
.x6{left:424.909467pt;}
.xe{left:449.002000pt;}
.xc{left:522.805200pt;}
.x8{left:567.669200pt;}
.x11{left:579.878267pt;}
.xb{left:684.741200pt;}
.x7{left:702.893200pt;}
.x9{left:711.205200pt;}
.xa{left:712.565200pt;}
.x12{left:829.917333pt;}
.x10{left:1383.609797pt;}
}
